@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;700&family=Inter:wght@400;700&family=JetBrains+Mono:wght@100;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@800&family=Open+Sans&family=Outfit:wght@300;400;600&family=Overpass:wght@400;700&family=Poppins:wght@500;600;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;900&family=Roboto+Condensed:wght@700&family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 0 0;
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  min-height: 100vh;
}
.main-container {
  border-radius: 25px 25px 0px 0px;
  background: #fff;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  margin-top: 40px;
  padding: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 920px;
}
.amount-container {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.bill-amount {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 10px;
}
.bill-amount:focus {
  outline-color: rgba(38, 194, 174, 1);
}
.people-amount {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 10px;
}
.people-amount:focus {
  outline: none;
}
.btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 16px;
}
.btn {
  border-radius: 5px;
  background: #00474b;
  color: #fff;
  text-align: center;
  width: 140px;
  font-size: 24px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  height: 48px;
}
.btn:hover {
  color: #00474b;
  background: #9fe8df;
}
.custom-percent {
  border-radius: 5px;
  background: #f3f9fa;
  width: 140px;
  height: 48px;
  color: #547878;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  border: none;
}
.custom-percent:focus {
  outline-color: rgba(38, 194, 174, 1);
}
.result {
  display: flex;
  flex-direction: column;
  gap: 21px;
  border-radius: 15px;
  background-color: #00474b;
  padding: 37px 24px 24px 24px;
  margin-top: 32px;
  text-align: left;
}
.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reset-btn {
  border-radius: 5px;
  background: #0d686d;
  border: none;
  padding: 9px;
  height: 48px;
  color: #00474b;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-top: auto;
}
.reset-btn:hover {
  background: #9fe8df;
}
.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tip-amount,
.total-amount {
  font-size: 32px;
}
@media screen and (min-width: 680px) {
  .main-container {
    border-radius: 25px;
    flex-direction: row;
    gap: 48px;
  }
  .result {
    width: 350px;
    height: 100%;
    margin-top: 0;
  }
  .amount-container {
    gap: 40px;
  }
  .people-container {
    margin-top: 6px;
  }
  .tip-amount,
  .total-amount {
    font-size: 48px;
  }
}
